<a href="https://colab.research.google.com/github/OlhaDot/NewProjectStadyAcademy/blob/master/lesson32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# task1 DF 5*15
import pandas as pd
import numpy as np

num_stud = 15
np.random.seed(10)

names = ["Student " + str(i) for i in range(1, num_stud+1)]
mean_grade = np.random.randint(60, 101, num_stud)
current_grade = np.random.randint(45, 101, num_stud)
attempts = np.random.randint(1, 3, num_stud)

df = pd.DataFrame({'name': names,
                   'mean_grade': mean_grade,
                   'curr_exam_grade': current_grade,
                   'attempts': attempts})

print(df)

          name  mean_grade  curr_exam_grade  attempts
0    Student 1          69               92         2
1    Student 2          96               56         2
2    Student 3          75               99         1
3    Student 4          60               69         2
4    Student 5          88               88         1
5    Student 6          85               78         1
6    Student 7          89               53         1
7    Student 8          89               81         1
8    Student 9          68               59         2
9   Student 10          69               94         1
10  Student 11          60               96         2
11  Student 12         100               99         2
12  Student 13          96               58         2
13  Student 14          76               50         1
14  Student 15          96               58         2

In [2]:
# 2 add column
min_grade_for_admission = 85

df['admission_next_course'] = df['mean_grade'] >= min_grade_for_admission
print(df)

          name  mean_grade  curr_exam_grade  attempts  admission_next_course
0    Student 1          69               92         2                  False
1    Student 2          96               56         2                   True
2    Student 3          75               99         1                  False
3    Student 4          60               69         2                  False
4    Student 5          88               88         1                   True
5    Student 6          85               78         1                   True
6    Student 7          89               53         1                   True
7    Student 8          89               81         1                   True
8    Student 9          68               59         2                  False
9   Student 10          69               94         1                  False
10  Student 11          60               96         2                  False
11  Student 12         100               99         2                   True
12  Student 13          96               58         2                   True
13  Student 14          76               50         1                  False
14  Student 15          96               58         2                   True

In [3]:
# 3 agg
print(df['mean_grade'].agg(['min', 'max', 'mean', 'median']))

min        60.000000
max       100.000000
mean       81.066667
median     85.000000
Name: mean_grade, dtype: float64

In [4]:
# 4 num of stud have passed current exam from 1st try
passed_1st_try = df[df['attempts'] == 1]
print('num of stud have passed current exam from 1st try:', len(passed_1st_try))

num of stud have passed current exam from 1st try: 7

In [5]:
# 5 series
student_names_serie = pd.Series(df['name'])  # можна просто df['name']
print(student_names_serie)

0      Student 1
1      Student 2
2      Student 3
3      Student 4
4      Student 5
5      Student 6
6      Student 7
7      Student 8
8      Student 9
9     Student 10
10    Student 11
11    Student 12
12    Student 13
13    Student 14
14    Student 15
Name: name, dtype: object